:root {
  --background: #ffffff;
  --foreground: #171717;

  --bc-red: #ff7070;
  --bc-green: #69cf69;
  --bc-blue: #7b9df2;
  --bc-yellow: #ffd633;
  --bc-gray: #d2d2d2;
  --bc-shadow: rgba(0, 0, 0, 0.2);

  --sh-regular: 0 0 5px var(--bc-shadow);
}

body {
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;

    --bc-red: #ff4c4c;
    --bc-green: #4cd964;
    --bc-blue: #4a90e2;
    --bc-yellow: #ffcc00;
    --bc-gray: #636363;
    --bc-shadow: rgba(255, 255, 255, 0.2);
  }

  body {
    background-color: var(--background);
  }
}
