.root {
  flex-shrink: 0;
  width: 300px;
}

.content {
  background-color: var(--bc-gray);
  border-radius: 4px;
  border: 1px solid var(--bc-gray);
  overflow: hidden;
}

.item,
.itemChild {
  background-color: var(--background);
  border-top: 1px solid var(--bc-gray);
}

.content .item:first-child {
  border-top: none;
}

.itemChild {
  margin-left: 20px;
  position: relative;
}

.itemChildInfoContainer {
  flex: 1;
  min-width: 0;
  padding-right: 40px;
}

.itemChildTitle {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemChildIconWrapper {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
